body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    box-sizing: border-box;
    margin: 0;
}

header{
    margin-top: 5.5%;
}

.corpo{
    width: 70%;

    height: 850px;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0,0.25);
    padding: 50px;
    border-radius: 15px;


}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
     text-align: center;

}
.ricerca1{
    width:35%;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.testo1{
    font-size: 35px;
    text-align: center;
    color: lime;
}

.ricerca{
    background-color: lime;
    padding: 5px;
    margin:auto;
    margin-top: 5px;
    margin-bottom: 15px;
    width: auto;


}
.articoli{
    margin-top: 3.5%;
    width: 50%;
    color: white;

}
.barra{

    width: 350px;
    height: 30px;

    background-color:rgba(162, 138, 20, 1);
    border-radius: 5px;

}
.barra1{
    width: 500px;
    height: 20px;
    background-color:rgba(33, 206, 30, 1);
    border-radius: 5px;

}
.barra2{
    width: 250px;
    height: 20px;
    background-color:rgba(187, 27, 82, 1);
    border-radius: 5px;

}
div>span{
    font-size: 30px;
}
